<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>

<script>
function validatePassChange(){
	var pass1 = document.forms["myform"]["field1"].value;
	var pass2 = document.forms["myform"]["field2"].value;
	
	if(pass1!=pass2){
		alert("password did not match");
		return false;
	}
}
</script>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form name="myform" onsubmit="return validatePassChange()" method="post" th:object="${pass1}" th:action="@{ValidatePassChange}">
<p style="color:red;" th:text="${notsame}"></p>
<table>

<tr>
<td>Enter the password</td>
<td><input type="text" name="field1" th:field="*{confpass}"></td>
</tr>

<tr>
<td>Confirm Password</td>
<td><input type="text" name="field2"></td>
</tr>

<tr>
<td><input type="submit" value="submit"></td>
</tr>

</table>

</form>

</body>
</html>