<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form th:object="${loginDetails}" th:action="@{/processforgotpassword}" method="post">
<p style="color:red;" th:text="${error}"></p>
<table>

<tr>
<td>please enter the Registered Mail ID</td>
</tr>


<tr>
<td>Mail id</td>
<td><input type="text" th:field="*{loginid}"></td>
</tr>

<tr>
<td><input type="submit" value="send mail"></td>
</tr>

</table>

</form>

</body>
</html>